Домашнее задание к лекции "Статистика. Практика"

Задание 1

Вернемся к набору данных о видеоиграх.

In [1]:
import pandas as pd
from scipy import stats as st
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df = pd.read_csv('video_games_sales.csv')
df

,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,VGChartz_Score,Critic_Score,...,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,Last_Update,url,status,Vgchartzscore,img_url
0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.7,...,NaN,NaN,NaN,NaN,2006.0,NaN,http://www.vgchartz.com/game/2667/wii-sports/?...,1,NaN,/games/boxart/full_2258645AmericaFrontccc.jpg
1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,NaN,10.0,...,NaN,NaN,NaN,NaN,1985.0,NaN,http://www.vgchartz.com/game/6455/super-mario-...,1,NaN,/games/boxart/8972270ccc.jpg
2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,NaN,8.2,...,NaN,NaN,NaN,NaN,2008.0,11th Apr 18,http://www.vgchartz.com/game/6968/mario-kart-w...,1,8.7,/games/boxart/full_8932480AmericaFrontccc.jpg
3,4,PlayerUnknown's Battlegrounds,playerunknowns-battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,...,NaN,NaN,NaN,NaN,2017.0,13th Nov 18,http://www.vgchartz.com/game/215988/playerunkn...,1,NaN,/games/boxart/full_8052843AmericaFrontccc.jpg
4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/24656/wii-sports-...,1,8.8,/games/boxart/full_7295041AmericaFrontccc.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55787,55788,Indivisible,indivisible,Role-Playing,NaN,PC,505 Games,Lab Zero Games,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/game/224682/indivisibl...,1,NaN,/games/boxart/full_6339426AmericaFrontccc.jpg
55788,55789,Lost Ember,lost-amber,Adventure,RP,PC,Mooneye Studios,Mooneye Studios,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/games/game.php?id=2246...,1,NaN,/games/boxart/full_8893129AmericaFrontccc.jpg
55789,55790,Lost Ember,lost-amber,Adventure,RP,PS4,Mooneye Studios,Mooneye Studios,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/game/224690/lost-ember...,1,NaN,/games/boxart/full_6514293AmericaFrontccc.jpg
55790,55791,Lost Ember,lost-amber,Adventure,RP,XOne,Mooneye Studios,Mooneye Studios,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/game/224688/lost-ember...,1,NaN,/games/boxart/full_6799693AmericaFrontccc.jpg
55791,55792,Falcon Age,falcon-age,Action-Adventure,NaN,PS4,Unknown,Outerloop Games,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12th Apr 19,http://www.vgchartz.com/game/224692/falcon-age...,1,NaN,/games/boxart/default.jpg

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55792 entries, 0 to 55791
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            55792 non-null  int64
 1   Name            55792 non-null  object
 2   basename        55792 non-null  object
 3   Genre           55792 non-null  object
 4   ESRB_Rating     23623 non-null  object
 5   Platform        55792 non-null  object
 6   Publisher       55792 non-null  object
 7   Developer       55775 non-null  object
 8   VGChartz_Score  0 non-null      float64
 9   Critic_Score    6536 non-null   float64
 10  User_Score      335 non-null    float64
 11  Total_Shipped   1827 non-null   float64
 12  Global_Sales    19415 non-null  float64
 13  NA_Sales        12964 non-null  float64
 14  PAL_Sales       13189 non-null  float64
 15  JP_Sales        7043 non-null   float64
 16  Other_Sales     15522 non-null  float64
 17  Year            54813 non-null  float64
 18  Last_Update     9186 non-null   object
 19  url             55792 non-null  object
 20  status          55792 non-null  int64
 21  Vgchartzscore   799 non-null    float64
 22  img_url         55792 non-null  object
dtypes: float64(11), int64(2), object(10)
memory usage: 9.8+ MB

In [4]:
df = df[['Genre', 'Platform', 'Critic_Score']].dropna()
df

                  Genre Platform  Critic_Score
0                Sports      Wii           7.7
1              Platform      NES          10.0
2                Racing      Wii           8.2
4                Sports      Wii           8.0
5          Role-Playing       GB           9.4
...                 ...      ...           ...
55387         Adventure      3DS           5.4
55423             Music       NS           9.0
55490            Action       NS           8.0
55528  Action-Adventure       NS           7.0
55653      Visual Novel      PS4           8.0

[6536 rows x 3 columns]

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?

Для каждого вопроса:

сформулируйте нулевую и альтернативную гипотезы;

выберите пороговый уровень статистической значимости;

опишите полученные результаты статистического теста.

#### H0: критики довольны спортивными играми и средняя оценка выше 7 

#### H1: критики  не довольны спортивными играми и средняя оценка ниже 7

#### За alpha везде будем принимать 0.05

In [5]:
alpha = 0.05

In [6]:
result = st.ttest_1samp(df[df['Genre'] == 'Sports']['Critic_Score'], 7)
print(result)

if (result.statistic < 0) & (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, критики не довольны спортивными играми')
else:
    print('Не отвергаем нулевую гипотезу, критики довольны спортивными играми')

Ttest_1sampResult(statistic=5.197156914436623, pvalue=2.671410902970997e-07)
Не отвергаем нулевую гипотезу, критики довольны спортивными играми

2) Критикам нравятся больше игры на PC или на PS4?

сформулируйте нулевую и альтернативную гипотезы;

выберите пороговый уровень статистической значимости;

опишите полученные результаты статистического теста.

#### H0: Критикам нравятся больше игры на PC, средняя оценка за игры н PC, выше, чем за игры на PS4

#### H1: Критикам нравятся больше игры не на PC, а на PS4

In [7]:
result = st.ttest_ind(df[df['Platform'] == 'PC']['Critic_Score'], df[df['Platform'] == 'PS4']['Critic_Score'], equal_var=False)
print(result)
if (result.pvalue < alpha) & (result.statistic < 0):
    print('Отвергаем нулевую гипотезу, Критикам нравятся больше игры не на PC, а на PS4')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=-2.7394476056351627, pvalue=0.006931808250254211)
Отвергаем нулевую гипотезу, Критикам нравятся больше игры не на PC, а на PS4

3) Критикам больше нравятся стрелялки или стратегии?

сформулируйте нулевую и альтернативную гипотезы;

выберите пороговый уровень статистической значимости;

опишите полученные результаты статистического теста.

#### H0: Критикам нравятся больше стрелялки, средняя оценка за стрелялки, выше, чем за стратегии

#### H1: Критикам нравятся больше не стрелялки, а стратегии

In [8]:
result = st.ttest_ind(df[df['Genre'] == 'Shooter']['Critic_Score'], df[df['Genre'] == 'Strategy']['Critic_Score'], equal_var=False)
print(result)
if (result.pvalue < alpha) & (result.statistic < 0):
    print('Отвергаем нулевую гипотезу, Критикам нравятся больше не стрелялки, а стратегии')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=-1.6073949711166526, pvalue=0.10838786414223071)
Не отвергаем нулевую гипотезу

Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама.

In [9]:
df_spam = pd.read_csv('spam.csv')
df_spam

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

Для этого:

1) Привидите весь текст к нижнему регистру;

In [10]:
df_spam['Message'] = df_spam['Message'].str.lower()
df_spam

     Category                                            Message
0         ham  go until jurong point, crazy.. available only ...
1         ham                      ok lar... joking wif u oni...
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham  u dun say so early hor... u c already then say...
4         ham  nah i don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home?
5569      ham  pity, * was in mood for that. so...any other s...
5570      ham  the guy did some bitching but i acted like i'd...
5571      ham                         rofl. its true to its name

[5572 rows x 2 columns]

2) Удалите мусорные символы;

In [11]:
df_spam['Message'] = df_spam['Message'].replace('[\W_]+', ' ', regex=True)
df_spam

     Category                                            Message
0         ham  go until jurong point crazy available only in ...
1         ham                           ok lar joking wif u oni
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham       u dun say so early hor u c already then say
4         ham  nah i don t think he goes to usf he lives arou...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home
5569      ham  pity was in mood for that so any other suggest...
5570      ham  the guy did some bitching but i acted like i d...
5571      ham                          rofl its true to its name

[5572 rows x 2 columns]

3) Удалите стоп-слова;

In [12]:
df_spam['Message'] = df_spam['Message'].str.split()
stopwords_set = set(stopwords.words('english'))
df_spam['Message'] = df_spam['Message'].apply(lambda x: [word for word in x if word not in stopwords_set])
df_spam

     Category                                            Message
0         ham  [go, jurong, point, crazy, available, bugis, n...
1         ham                     [ok, lar, joking, wif, u, oni]
2        spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3         ham      [u, dun, say, early, hor, u, c, already, say]
4         ham     [nah, think, goes, usf, lives, around, though]
...       ...                                                ...
5567     spam  [2nd, time, tried, 2, contact, u, u, 750, poun...
5568      ham                 [ü, b, going, esplanade, fr, home]
5569      ham                          [pity, mood, suggestions]
5570      ham  [guy, bitching, acted, like, interested, buyin...
5571      ham                                 [rofl, true, name]

[5572 rows x 2 columns]

4) Привидите все слова к нормальной форме;

In [13]:
wordnet_lemmatizer = WordNetLemmatizer()
df_spam['Message'] = df_spam['Message'].apply(lambda x: [wordnet_lemmatizer.lemmatize(word) for word in x])
df_spam

     Category                                            Message
0         ham  [go, jurong, point, crazy, available, bugis, n...
1         ham                     [ok, lar, joking, wif, u, oni]
2        spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3         ham      [u, dun, say, early, hor, u, c, already, say]
4         ham        [nah, think, go, usf, life, around, though]
...       ...                                                ...
5567     spam  [2nd, time, tried, 2, contact, u, u, 750, poun...
5568      ham                 [ü, b, going, esplanade, fr, home]
5569      ham                           [pity, mood, suggestion]
5570      ham  [guy, bitching, acted, like, interested, buyin...
5571      ham                                 [rofl, true, name]

[5572 rows x 2 columns]

5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

Можете поэкспериментировать с параметрами TfidfVectorizer;

In [14]:
# списки  вернем обратно в строку
df_spam['Message'] = df_spam['Message'].str.join(" ")
df_spam

     Category                                            Message
0         ham  go jurong point crazy available bugis n great ...
1         ham                            ok lar joking wif u oni
2        spam  free entry 2 wkly comp win fa cup final tkts 2...
3         ham                u dun say early hor u c already say
4         ham                nah think go usf life around though
...       ...                                                ...
5567     spam  2nd time tried 2 contact u u 750 pound prize 2...
5568      ham                        ü b going esplanade fr home
5569      ham                               pity mood suggestion
5570      ham  guy bitching acted like interested buying some...
5571      ham                                     rofl true name

[5572 rows x 2 columns]

In [15]:
# Преобразуем все сообщения в вектора TF-IDF
tfidf = TfidfVectorizer(min_df=70)
tfidf_matrix = tfidf.fit_transform(df_spam['Message'])
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
tfidf_matrix

,150p,already,also,amp,anything,ask,babe,back,call,care,...,wat,way,week,well,win,work,www,yeah,year,yes
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.549771,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.575282,0.0,0.0,0.0,0.0,0.0
3,0.0,0.464911,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.369006,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.631317,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [17]:
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, df_spam['Category'], test_size=0.3, random_state=42)

7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;

In [18]:
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)
lda.predict(X_test)
predict_all = pd.DataFrame(lda.predict(tfidf_matrix))
predict_all

         0
0      ham
1      ham
2     spam
3      ham
4      ham
...    ...
5567  spam
5568   ham
5569   ham
5570   ham
5571   ham

[5572 rows x 1 columns]

8) Опишите результаты при помощи confusion_matrix;

In [19]:
confusion_matrix(df_spam['Category'], predict_all)

array([[4745,   80],
       [ 120,  627]], dtype=int64)

In [20]:
accuracy_score(df_spam['Category'], predict_all)

0.9641062455132807

#### Результаты модели - 96%, довольно точно

9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [21]:
res = predict_all.join(df_spam, how = 'left')
res.rename(columns={0: 'Predict'}, inplace=True)
res.loc[res['Predict'] != res['Category']]

     Predict Category                                            Message
5        ham     spam  freemsg hey darling 3 week word back like fun ...
19       ham     spam  england v macedonia dont miss goal team news t...
45      spam      ham                           call message missed call
56       ham     spam  congrats 1 year special cinema pas 2 call 0906...
68       ham     spam             hear new divorce barbie come ken stuff
...      ...      ...                                                ...
5449     ham     spam  latest news police station toilet stolen cop n...
5466     ham     spam  http tm widelive com index wml id 820554ad0a17...
5475    spam      ham                       dhoni luck win big title win
5537     ham     spam  want explicit sex 30 sec ring 02073162414 cost...
5540     ham     spam  asked 3mobile 0870 chatlines inclu free min in...

[200 rows x 3 columns]